* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	/* colors */
	--clr-dark-violet-1: hsl(256, 26%, 20%);
	--clr-grayish-blue: hsl(216, 30%, 68%);

	--clr-dark-violet-2: hsl(270, 9%, 17%);
	--clr-dark-grayish-violet: hsl(273, 4%, 51%);
	--clr-very-light-gray: hsl(0, 0%, 98%);
	--clr-white: #fff;

	/* typography */
	--ff-dm: 'DM Serif Display', serif;
	--ff-karla: 'Karla', sans-serif;

	--fs-smaller: 15px;
	--fs-small: 20px;
	--fs-large: 40px;
	--fs-larger: 50px;

	--general-padding: 150px;
	--general-padding-mini: 100px;
}
html {
	scroll-behavior: smooth;
}
::-moz-selection {
	background: #0e70df;
	color: var(--clr-white);
}
::selection {
	background: #0e70df;
	color: var(--clr-white);
}
body {
	display: grid;
	place-items: center;
	background-color: var(--clr-dark-violet-1);
}
body img {
	user-select: none;
}
.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.navbar {
	width: 100%;
	padding-block: 20px;
	padding-inline: var(--general-padding);
	background: var(--clr-white);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo {
	width: 150px;
}
.nav-toggle {
	width: 5%;
	display: none;
	cursor: pointer;
}
ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	gap: 20px;
}
ul a {
	text-decoration: none;
}
ul a .nav-list-item {
	text-transform: uppercase;
	color: var(--clr-dark-grayish-violet);
	font-family: var(--ff-karla);
	font-size: var(--fs-smaller);
	font-weight: 600;
	transform: 0.2s;
	word-spacing: 1px;
}
.navbar ul a .nav-list-item:hover {
	color: var(--clr-dark-violet-1);
}
ul a .nav-list-item.plans {
	padding: 8px 20px 8px 20px;
	color: var(--clr-dark-violet-1);
	border: 3.5px solid var(--clr-dark-violet-1);
	transition: 0.2s;
}
.navbar ul a .nav-list-item.plans:hover {
	color: var(--clr-very-light-gray);
	background: var(--clr-dark-violet-1);
}
.mobile-header-img {
	display: none;
}
.header {
	width: 100%;
	display: flex;
	align-items: flex-start;
	position: relative;
	background: var(--clr-dark-violet-1);
	position: relative;
	padding: var(--general-padding);
}
.mobile-nav {
	display: none;
}
.header-info .img {
	position: absolute;
	z-index: 1;
}
.header .img.img-left {
	bottom: -35vh;
	left: 0;
	min-width: 10vw;
	max-width: 160px;
}
.header .img.img-right {
	top: 0;
	right: 0;
	min-width: 24vw;
	max-width: 410px;
}
.mobile-bg-intro {
	display: none;
}
.header .header-info-content {
	max-width: 45%;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-between;
	gap: 40px;
}
.line {
	width: 100px;
	height: 1px;
	background: var(--clr-very-light-gray);
}
.header-info-content .text {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.header-info-content .text h1 {
	font-family: var(--ff-dm);
	color: var(--clr-white);
	font-size: var(--fs-larger);
	line-height: 50px;
}
.header-info-content .text p {
	font-family: var(--ff-karla);
	color: var(--clr-very-light-gray);
	font-size: var(--fs-smaller);
	font-weight: 400;
}
.square-link {
	font-family: var(--ff-karla);
	color: var(--clr-very-light-gray);
	font-size: var(--fs-smaller);
	text-decoration: none;
	font-weight: 600;
	border: 2px solid var(--clr-very-light-gray);
	max-width: 120px;
	text-align: center;
	padding-block: 7px;
	transition: 0.2s;
}
.square-link:hover {
	color: var(--clr-dark-violet-1);
	background: var(--clr-very-light-gray);
}
.header .header-img {
	min-width: 30vw;
	max-width: 550px;
	position: absolute;
	top: var(--general-padding);
	right: var(--general-padding);
}
.header .header-img img {
	width: 100%;
}
.about-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 300px 150px 150px 150px;
	background: var(--clr-white);
}
.about-section .about-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 150px;
}
.about-content .about-content-text {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-between;
	gap: 80px;
}
.about-content-text .text {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.about-content-text .text .about-line {
	background: var(--clr-grayish-blue);
}
.about-content-text .text h2 {
	font-family: var(--ff-dm);
	color: var(--clr-dark-violet-2);
	font-size: var(--fs-larger);
	line-height: 50px;
}
.about-content-text .features {
	display: grid;
	grid-template-columns: auto auto auto;
}
.features .feature {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 20px;
}
.feature img {
	width: 70px;
}
.feature h3 {
	font-family: var(--ff-dm);
	color: var(--clr-dark-violet-2);
	font-size: var(--fs-small);
	font-weight: 400;
}
.feature p {
	font-family: var(--ff-karla);
	color: var(--clr-dark-grayish-violet);
	font-size: var(--fs-smaller);
	font-weight: 400;
}
.about-content .about-content-banner {
	width: 100%;
	padding: 80px;
	max-height: 230px;
	background: var(--clr-dark-violet-1);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}
.about-content-banner img {
	min-width: 32vw;
	max-width: 420px;
	position: absolute;
	top: 0;
	right: 0;
}
.about-content .about-banner-mobile-bg {
	display: none;
}
.about-content-banner h2 {
	font-family: var(--ff-dm);
	color: var(--clr-white);
	font-size: var(--fs-large);
	line-height: 40px;
}
.about-link {
	width: 150px;
	z-index: 1;
}
.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--clr-very-light-gray);
	position: relative;
	padding-block: var(--general-padding-mini);
	padding-inline: var(--general-padding);
}
.footer .footer-bg-img {
	width: 35vw;
	position: absolute;
	top: 0;
	left: 0;
}
.footer .footer-items {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}
.footer-items .footer-links {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--clr-grayish-blue);
	padding-block: 15px;
}
.footer-logo {
	width: 120px;
}
.footer-links ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}
.footer-links ul a {
	text-decoration: none;
}
.footer-links ul a li {
	font-size: 25px;
	color: var(--clr-dark-grayish-violet);
	transition: 0.2s;
}
.footer-links ul a li:hover {
	color: var(--clr-dark-violet-1);
}
.footer-items .footer-sections {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}
.footer-sections .section {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.footer-sections .section h4 {
	font-family: var(--ff-karla);
	color: var(--clr-grayish-blue);
	font-size: var(--fs-smaller);
	font-weight: 600;
}
.footer-sections .section .section-links {
	display: flex;
	flex-direction: column;
	gap: 7px;
}
.section .section-links a {
	text-decoration: none;
	font-family: var(--ff-karla);
	color: var(--clr-dark-violet-2);
	font-size: var(--fs-smaller);
	font-weight: 600;
	transition: 0.2s;
}
.section .section-links a:hover {
	color: var(--clr-dark-violet-1);
}

.attribution {
	width: 100%;
	font-size: 11px;
	text-align: center;
	background: var(--clr-very-light-gray);
	padding-bottom: 10px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* media queries */

/* desktop queries */
@media (max-width: 1300px) {
	:root {
		--general-padding: 100px;
		--general-padding-mini: 50px;
	}
	.header .img.img-left {
		min-width: 8vw;
		max-width: 120px;
	}
	.header .img.img-right {
		min-width: 20vw;
		max-width: 320px;
	}
	.header .header-img {
		min-width: 20vw;
		max-width: 450px;
	}
	.about-section {
		padding: 300px 150px 150px 100px;
	}
	.about-content-text .features {
		gap: 20px;
	}
}
@media (max-width: 1130px) {
	.header .header-img {
		min-width: 15vw;
		max-width: 350px;
	}
	.header-info-content .text {
		width: 112%;
	}
}
@media (max-width: 920px) {
	:root {
		--general-padding: 70px;
		--general-padding-mini: 40px;
		--fs-smaller: 12px;
		--fs-small: 15px;
		--fs-large: 30px;
		--fs-larger: 40px;
	}
	.navbar .logo {
		width: 120px;
	}
	.header .img.img-left {
		min-width: 6vw;
		max-width: 120px;
	}
	.header .img.img-right {
		min-width: 15vw;
		max-width: 280px;
	}
	.header-info-content .text {
		width: 120%;
	}
	.header .header-img {
		min-width: 10vw;
		max-width: 310px;
	}
	.about-content-text .features {
		gap: 30px;
	}
	.about-link {
		max-width: 90px;
	}
	.feature img {
		width: 50px;
	}
	.footer-logo {
		width: 100px;
	}
	.footer-links ul a li {
		font-size: 23px;
	}
}
@media (max-width: 820px) {
	:root {
		--general-padding: 50px;
		--general-padding-mini: 50px;

		--fs-large: 25px;
	}
	.navbar .logo {
		width: 100px;
	}
	.header .img.img-left {
		min-width: 4vw;
		max-width: 111px;
	}
	.header .img.img-right {
		min-width: 10vw;
		max-width: 250px;
	}
	.navbar ul {
		gap: 15px;
	}
	.header-info-content .text {
		width: 110%;
	}
	.header .header-img {
		min-width: 8vw;
		max-width: 300px;
	}
	.about-content .about-content-banner {
		gap: 20px;
	}
	.footer-links ul a li {
		font-size: 20px;
	}
}

/* mobile queries */
@media (max-width: 750px) {
	:root {
		--general-padding: 25px;
		--general-padding-mini: 70px;
		--fs-smaller: 15px;
		--fs-small: 20px;
		--fs-large: 25px;
		--fs-larger: 35px;
	}
	.container.display-mobile-nav > *:not(.mobile-nav):not(.navbar) {
		display: none;
	}
	.navbar .logo {
		width: 120px;
	}
	.nav-toggle {
		display: block;
		width: 35px;
	}
	.navbar ul {
		display: none;
	}
	.mobile-header-img {
		display: block;
		width: 100%;
	}
	.header {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-block: 70px;
		padding-inline: 20px;
	}
	.mobile-nav {
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		top: 0;
		left: 0;
		width: 100%;
		height: 88.4vh;
		background: var(--clr-dark-violet-1);
		padding-block: 50px;
		padding-inline: var(--general-padding);
		z-index: -1;
	}
	.mobile-nav ul {
		width: 100%;
		flex-direction: column;
		gap: 50px;
	}
	.mobile-nav ul a .nav-list-item {
		font-size: var(--fs-large);
		color: var(--clr-very-light-gray);
		text-align: center;
	}
	.mobile-nav ul a .nav-list-item.plans {
		color: var(--clr-very-light-gray);
		width: 85vw;
		border: 2.5px solid var(--clr-very-light-gray);
		padding-block: 15px;
		z-index: 1;
	}
	.mobile-nav img {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
	}
	.header-info .img {
		display: none;
	}
	.mobile-bg-intro {
		display: block;
		position: absolute;
		z-index: 1;
	}
	.mobile-bg-intro.left {
		left: 0;
		top: 0;
	}
	.mobile-bg-intro.right {
		right: 0;
		bottom: -25vh;
	}
	.header-info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.header-line.line {
		display: none;
	}
	.header-info-content .text {
		align-items: center;
		justify-content: center;
	}
	.square-link {
		padding-inline: 20px;
	}
	.header-link {
		max-width: unset;
	}
	.header .header-img {
		display: none;
	}
	.header .header-info-content {
		max-width: unset;
		width: 100%;
	}
	.header-info-content .text {
		width: 100%;
	}
	.about-section {
		padding-block: 100px;
		padding-inline: 20px;
	}
	.about-content-text .text {
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
	.about-content-text .features {
		grid-template-columns: auto;
		place-items: center;
		gap: 50px;
	}
	.features .feature {
		max-width: 300px;
		align-items: center;
		text-align: center;
	}
	.feature img {
		width: 60px;
	}
	.about-content .about-content-banner {
		padding-block: 160px;
		flex-direction: column;
		justify-content: center;
	}
	.about-content-banner img {
		display: none;
	}
	.about-content .about-banner-mobile-bg {
		display: block;
		top: 0;
		right: 0;
		max-width: 30%;
		max-width: 47%;
	}
	.about-content-banner h2 {
		text-align: center;
	}
	.about-link {
		padding-block: 8px;
		text-align: center;
		display: block;
		max-width: unset;
	}
	.footer-items .footer-links {
		flex-direction: column;
		justify-content: center;
		gap: 25px;
	}
	.footer-logo {
		width: 80px;
	}
	.footer-items .footer-sections {
		place-items: center;
		grid-template-columns: auto;
		gap: 30px;
	}
	.footer-sections .section {
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 30px;
	}
}
